*{

    padding: 0px;
    margin: 0px;
}
.title{
    font-size: 50px ;
    padding-bottom: 0px;
    padding-top: 40px;

}
.description{
    font-size: 20px;
    margin: 5px;
    padding-top: 15px;
    margin-left: 0px;
}
.btn{
    background-color: rgb(214, 48, 48);
    color: aliceblue;
    padding:10px;
    margin-top:20px;
}
.fst-containar{
    display:flex;
    justify-content: space-around;
    background-color: #dd9f4d;
    margin: 0px;
}
.one img{
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
}
.tow{
    margin-bottom: 0px;
    padding-bottom: 0px;
}







   

