*{

    padding: 0px;
    margin: 0px;
}
.title{
    font-size: 50px ;
    padding-bottom: 0px;
    padding-top: 40px;

}
.description{
    font-size: 20px;
    margin: 5px;
    padding-top: 15px;
    margin-left: 0px;
}
.btn{
    background-color: rgb(214, 48, 48);
    color: aliceblue;
    padding:10px;
    margin-top:20px;
}
.fst-containar{
    display:flex;
    justify-content: space-around;
    background-color: #dd9f4d;
    
}
.one img{
    width: 400px;
    height: 400px;
    margin-bottom: 0px;
    padding-top:200px;
}
.three{
    text-align: center;
    padding: 10px;
    font-size: 10px;

}
.six{
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    padding-top: 50px;
}
.five{
    height: 250px;
    width: 250px;
    padding-top: 255px;
    padding-left: 100px;
    gap: 50px;
}

.fl-title{
    font-size: 15px;
    text-align: center;
    

}
.four{
    height: 500px;
    width: 450px;
    background-color: rgb(184, 104, 131);
    padding: 5px;
    

}
.imeagee{
    padding: 0px;
}
.thirdpick{
    display: flex;
    justify-content:center;
}

.fou{
    height: 500px;
    width: 450px;
    background-color:rgb(75, 131, 75);
    padding: 5px;
    

}

.fouree{
    height: 500px;
    width: 450px;
    background-color: rgb(153, 48, 167);
    padding: 5px;
    

}
.emoje{
    height: 50px;
    width: 50px;
    padding-left: 300px;
}
.emg-emg{
    background-color: #d48f34;
    padding: 100px;
    margin: 250px 310px 100px 310px;

}


   

